version: '3.8'

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    volumes:
      - mongo_data:/data/db

  backend:
    build: 
      context: backend
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    env_file:
      - ./backend/.env
    environment:
      - MONGO_URI=mongodb://mongo:27017
      - DB_NAME=M2CP
      - PORT=80
    depends_on:
      - mongo
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    env_file:
      - ./frontend/.env
    environment:
      - VITE_API_URL=${VITE_API_URL:-http://backend/api}
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: ["npm", "run", "dev", "--", "--host"]

  reverseproxy:
    container_name: reverseproxy
    restart: always
    build:
      context: reverse-proxy/
      dockerfile: Dockerfile
    depends_on:
      - backend
      - frontend
    volumes:
      - ./reverse-proxy/log:/var/log/nginx
    ports:
      - 8080:80

volumes:
  mongo_data: