version: '3.8'

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    volumes:
      - mongo_data:/data/db

  backend:
    build: 
      context: backend
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    environment:
      - MONGO_URI=${MONGO_URI}
      - DB_NAME=${DB_NAME}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRES_IN=${JWT_EXPIRES_IN}
    depends_on:
      - mongo
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    environment:
      - VITE_API_URL=${VITE_API_URL}
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: ["npm", "run", "dev", "--", "--host"]

  reverseproxy:
    container_name: reverseproxy
    restart: always
    build:
      context: reverse-proxy/
      dockerfile: Dockerfile
    depends_on:
      - backend
      - frontend
    volumes:
      - ./reverse-proxy/log:/var/log/nginx
    ports:
      - ${PORT}:80

volumes:
  mongo_data: